.git
.gitignore
node_modules/
build/
dist/
.idea/
.vscode/
*.swp
*.swo
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
/coverage
.DS_Store
HELP.md
*/target/
/target/
!.mvn/wrapper/maven-wrapper.jar
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
*.vscode/
*.mvn
*/Logs
/Logs
.gke-config
.gke-credentials
build_and_push.sh.backup

# Explicitly allow .env file for Cloud Build
!bookstore-frontend-react-app/.env
